<%= simple_form_for([:backend, @galery], defaults: {input_html: {class: 'form-control'}}) do |f| %>
  <%= f.error_notification %>

<div class="form-group">
  <%= f.input :name, label: 'Nombre' %>
</div>
<div class="form-group">
  <%= f.input :description, label: 'descripcion' %>
</div>
<div class="form-group">
  <%= f.input :public, label: 'Publica', as: :boolean %>
</div>


<%= f.simple_fields_for(:images) do |image| %>
  <%= render 'image_fields', f: image %>
  <% end %>
<%= link_to_add_fields 'agregar imagen', f, :images %>

<div class="form-actions">
  <%= f.submit 'Guardar' %>
</div>
<% end %>
