<%= simple_form_for(@branch) do |f| %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description %><br>
  </div>
  <div class="field">
      <fieldset>
        <%= f.simple_fields_for(:rolifications) do |rolif| %>
          <%= rolif.association :role %>
          <%= rolif.association :user %>
          <%= rolif.hidden_field :branch, value: @branch.id %>
          <br>
        <% end %>

      </fieldset>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
