<div class="row">
  <div class="small6 centered columns">
    <h1>Listado de sucursales</h1>

    <table>
      <thead>
        <tr>
          <th>nombre</th>
          <th>acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @branches.each do |branch| %>
        <tr>
          <td>
              <%= branch.name %>
          </td>
          <td>
              <%= link_to 'Ver', branch %> |
              <%= link_to 'Editar', edit_branch_path(branch) %> |
              <%= link_to 'Borrar', branch, method: :delete, data: { confirm: 'tas seguro?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Crear Sucursal', new_branch_path %>

  </div>
</div>
