<div class="row">
  <div class="small-6 columns small-centered">
    <p>
    <strong>Nombre:</strong>
    <%= @branch.name %>
    </p>
    <% if !@branch.description.blank? %>
      <p>
    <strong>Descripcion:</strong>
    <%= @branch.description %>
    </p>
  <% end %>
    <% if !@branch.telephones.empty? %>
      <strong>Telefonos:</strong>
    <% @branch.telephones.each do |tel| %>
      <p>(<%= tel.ext %>)-<%= tel.num %></p>
  <% end %>
  <% end %>
  <p><strong>E-mail: </strong><%= @branch.email %></p>
  <p><strong>Direccion: </strong><%= @branch.address %></p>

    <%= link_to 'Editar', edit_backend_branch_path(@branch) %> |
    <%= link_to 'Volver', :back %>

  </div>
</div>
