<div class="row">
<div class="small-6 columns small-centered">
        <% if !notice.blank? %>
        <div class="alert-box success">
            <%= notice %>
        </div>
        <% end %>

        <p>
          <strong>Nombre:</strong>
          <%= @branch.name %>
      </p>
      <% if !@branch.description.blank? %>
      <p>
          <strong>Descripcion:</strong>
          <%= @branch.description %>
      </p>
      <% end %>
      <% if !@branch.telephones.empty? %>
      <strong>Telefonos:</strong>
	<% @branch.telephones.each do |tel| %>
	  <p>(<%= tel.ext %>)-<%= tel.num %></p>
	<% end %>
      <% end %>
      <% @branch.rolifications.each do |rolification| %>
      <p>
        <strong><%= rolification.user.name %>:</strong>
        <%= rolification.role.name %>
    </p>
    <% end %>

    <%= link_to 'Editar', edit_branch_path(@branch) %> |
    <%= link_to 'Volver', branches_path %>

</div>
</div>
