<div class="header">
  <div class="row">
    <div class="small-7 small-offset-5 columns top-nav">
      <div class="contain-to-grid">
	<nav class="top-bar" >

	  <section class="top-bar-section">
	    <!-- Left Nav Section -->
	    <ul class="left" style="background-color:#008ba8">
	      <li><a href="#">Quiénes Somos</a></li>
	      <li><a href="#">Galería</a></li>
	      <li><a href="#">Contacto</a></li>
	      <%= render 'devise/menu/registration_items' %>
	      <%= render 'devise/menu/login_items' %>
	    </ul>
	  </section>
	</nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns" >  
      <a href="<%= url_for :root %>"><img src="<%= image_path("agalma_logo.png") %>" style="margin-bottom:3em;"></a>
    </div>
    <div class="small-6 columns" >
      <%= render '/frontend/shared/slide' %>
    </div>
  </div>

</div>


