<% if user_signed_in? %>
 <% if policy(current_user).admin? %>	
 <div class="row">
<div class="row">
  <div class="small-12 large-4 columns">
    <ul class="items-container">
      <h2><%= link_to "Paginas", backend_pages_path %></h2>
      <% if @pages.empty? %>
          <p>Todavia no tiene paginas cargadas.</p>
          <%= link_to "Crear Pagina", new_backend_page_path %>
      <% else %>
          <% for page in @pages %>
            <li><%= link_to page.title, edit_backend_page_path(page) %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="small-12 large-4 columns">
    <ul class="items-container">
      <h2><%= link_to "Sucursales", backend_branches_path %></h2>
      <% if @branches.empty? %>
          <p>Todavia no tiene paginas cargadas.</p>
          <%= link_to "Crear Sucursal", new_backend_branch_path %>
      <% else %>
          <% for branch in @branches %>
            <li><%= link_to branch.name, edit_backend_branch_path(branch) %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="small-12 large-4 columns">
    <h2><%= link_to "Usuarios", backend_users_path %></h2>
    <ul class="items-container">
      <% if @branches.empty? %>
          <p>Todavia no tiene usuarios cargados.</p>
          <%= link_to "Crear Usuario", new_backend_user_path %>
      <% else %>
          <% for role in @roles %>
            <li><%= role.user.name %>(<%= role.role.name %>)</li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
      <% end %>
 <% end %>
