<h2>Editar Usuario</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :email, :required => true, :autofocus => true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
<% end %>

</div>

<div class="form-inputs">
  <button id="js-password-toggle" class='button'>cambiar contrasenia</button>
  <div id="js-password-fields">
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
  </div>
</div>

<%= f.input :name, label: 'nombre', :required => false %>
<%= image_tag f.object.avatar.url :thumb %>
<%= f.input :avatar %>
<div>
  <% if f.object.professional? %>
    <%= render 'professional_fields', f:f %>
<% end %>
</div>  
<%= f.input :current_password, label: 'password actual', :hint => "we need your current password to confirm your changes", :required => true %>
<div class="form-actions">
  <%= f.button :submit, "Update" %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Descontento? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Atras", :back %>
