<div class="box">
  <div class="box-header">
    <h3 class="box-title">Paginas: </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <th>Pagina</th>
        <th>Acciones</th>
      </tr>
      <% @pages.each do |page| %>
        <tr>
        <td><%= link_to page.title, edit_backend_page_path(page) %></td>
        <td class="table-actions">
          <%= show_link page %>
          <%= edit_link page %>
          <%= destroy_link page %>
        </td>
        </tr>
      <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <br>

  <%= link_to 'Crear Nueva Pagina', new_backend_page_path, class: :'btn btn-primary' %>
