<div class="box">
  <div class="box-header">
    <h3 class="box-title">Paginas: </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <th>Pagina</th>
        <th>Acciones</th>
      </tr>
      <% @pages.each do |page| %>
        <tr>
        <td><%= link_to page.title, edit_backend_page_path(page) %></td>
        <td class="table-actions">
          <%= link_to fa_icon(:eye),
            page_path(page),
            class: :'btn btn-primary btn-sm',
            data: {toggle: 'tooltip', 'original-title' => 'Ver'} %>
          <%= link_to fa_icon(:edit),
            edit_backend_page_path(page),
            class: :'btn btn-success btn-sm',
            data: {toggle: 'tooltip', 'original-title' => 'Editar'} %>
          <%= link_to fa_icon('trash-o'),
            backend_page_path(page),
            method: :delete,
            data: {confirm: 'Esta seguro?', toggle: 'tooltip', 'original-title' => 'Borrar'},
            class: :'btn btn-danger btn-sm' %>
        </td>
        </tr>
      <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <br>

  <%= link_to 'Crear Nueva Pagina', new_backend_page_path, class: :'btn btn-primary' %>
