<%= simple_form_for([:backend, @post], defaults: {input_html: {class: 'form-control'}}) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title , label: 'Titulo' %>
  </div>
  <div class="form-group">
    <%= f.input :content, label: 'Contenido', :as => :ckeditor %>
  </div>
  <div class="form-group">
    <%= f.association :branch, label: 'Sucursal', as: :select, include_blank: false%>
  </div>

  <div class="form-inputs">
  <%= f.simple_fields_for (:galeries) do |gallery| %>
   <%= render 'galery_fields', f: gallery %>
  <% end %>
  <div class="form-actions">
    <%= f.submit 'Publicar', class: 'btn btn-primary' %>
  </div>
<% end %>
