<%= simple_form_for([:backend, @post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title , label: 'Titulo' %>
    <%= f.input :content, label: 'Contenido', :as => :ckeditor %>
    <%= f.association :branch, label: 'Sucursal', as: :select, include_blank: false%>
  </div>

  <div class="form-inputs">
  <%= f.simple_fields_for (:galeries) do |gallery| %>
   <%= render 'galery_fields', f: gallery %>
  <% end %>
  <div class="form-actions">
    <%= f.submit 'Publicar' %>
  </div>
<% end %>
