<h1>Noticias:</h1>
<div class="noticias-container">
    <% if !@posts.blank?  %>
        <% @posts.each do |post| %>
            <div class="noticia">

                <%= post.title %>
                <%= link_to 'Show', post_path(post) %>
                <%= link_to 'Edit', edit_backend_post_path(post) %>
                <%= link_to 'Destroy', backend_post_path(post), method: :delete, data: { confirm: 'Esta seguro?' } %>
            </div>
        <% end %>
    <% else %>
        <div class="alert alert-info">
            <p>Todavia ha creado noticias, puede comenzar aqui.</p>
        </div>
    <% end %>

    <br>

    <%= link_to 'Nueva Noticia', new_backend_post_path %>
</div>
