<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"> <h1><%= link_to "Administracion", :backend_root %></h1> </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="item"><%= link_to "Sucursales", backend_branches_path %></li>
      <li class="item"><%= link_to "Paginas", backend_pages_path %></li>
      <li class="item"><%= link_to "Usuarios", backend_users_path %></li>
      <li class="item"><%= link_to "Noticias", backend_posts_path %></li>
      <li class="item"><%= link_to "Ver Pagina", :root %></li>
    </ul>
  </section>
</nav>
