<%= simple_form_for([:backend, @external_branch], defaults: {input_html: {class: :'form-control'}}) do |f| %>

  <div class="form-group">
    <%= f.input :name, placeholder: "nombre para la sucursal", label: "nombre" %>
  </div>
  <div class="form-group">
    <%= f.input :description, placeholder: "informacion extra", label: "descripcion" %><br>
  </div>
  <div class="form-group">
    <%= f.input :address, placeholder: "calle Altura - piso dpto ", label: "Direccion" %><br>
  </div>
  <div class="form-group">
    <%= f.input :zipcode, placeholder: "", label: "Codigo Postal" %><br>
  </div>
  <div class="form-group">
    <%= f.input :zone, placeholder: "Localidad - Provincia", label: "Localidad" %>
  </div>
  <div class="form-group">
    <%= f.input :email, placeholder: "ejemplo@dominio.com", label: "E-Mail" %><br>
  </div>
   <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
