<h1>Listing galeries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @galeries.each do |galery| %>
      <tr>
        <td><%= galery.name %></td>
        <td><%= galery.description %></td>
        <td><%= link_to 'Ver', galery %></td>
        <td><%= link_to 'Editar', edit_backend_galery_path(galery) %></td>
	<td><%= link_to 'Borrar', [:backend, galery], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galery', new_backend_galery_path %>
