<p id="notice"><%= notice %></p>
<div class="page-container">
  <h1 class="page-title"><%= @page.title %></h1>

  <section class="page_content">
    <%= raw(@page.body) %>
  </section>
</div>
<% if user_signed_in? and policy(current_user).admin? %>
  <%= link_to("Editar", edit_backend_page_path(@page), class: :button) %>
  <%= link_to 'Borrar', backend_page_path(@page), method: :delete, data: { confirm: 'Esta seguro?' }, class: :button %>
<% end %>
<%= link_to "Volver", :back, class: :button %>
