<p id="notice"><%= notice %></p>
<div class="page-container">
  <h1 class="page-title"><%= @page.title %></h1>

  <section class="page_content">
    <%= raw(@page.body) %>
  </section>
</div>
<% if authorize_content %>
  <%= link_to("Editar", edit_backend_page_path(@page)) %>
  <%= link_to "Volver", :back %>
  <%= link_to 'Borrar', backend_page_path(@page), method: :delete, data: { confirm: 'Esta seguro?' } %>
<% end %>
