<div class="page-container">
  <h1 class="page-title"><%= @page.title %></h1>
  <section class="page-content">
    <%= simple_format(@page.body) %>
  </section>
  <section class="widgets-container">
    <% @page.widgets.each do |w| %>
      <%= render_cell w.cell_class, w.method_name %>
    <% end %>
  </section>
</div>
<% if user_signed_in? and policy(current_user).admin? %>
  <%= backend_edit_link @page %>
  <%= backend_destroy_link @page %>
<% end %>
<%= link_to "Volver", :back, class: :button %>
