<% content_for :page_title, @page.title %>
<div class="page-container">
  <section class="page-content">

    <%= simple_format(@page.body) %>



  </section>
  <section class="widgets-container">
    <% @page.widgets.each do |w| %>
      <%= render_cell w.cell_class, w.method_name, branch: @page.branch %>
  <% end %>
  </section>
  <% if !@page.child_pages.blank? %>
    <p>encuentre estos servicios en:</p>
    <% @page.child_pages.each do |child| %>
      <%= link_to child.branch.name, child %><br/>
    <% end %>
  <% end %>
  <br/>
  <br/>

</div>
<% if user_signed_in? and policy(current_user).admin? %>
  <%= backend_edit_link @page %>
<%= backend_destroy_link @page %>
<% end %>
<%= link_to "Volver", :back, clasdis: :button %>

<%-# all the read more magic -%>
<%= stylesheet_link_tag 'plugins/read-more' %>
<script>
 $(function (){
   <%-# ONLY FOR QUIENES-SOMOS -%>
   var pageName = location.pathname.split('/')[2]
   if (pageName == 'quienes-somos'){
     var read = '<p class="read-more"><a href="#" class="button"> Read more </a></p>'
     var $pageContent = $(".page-content")
   <%-# if the user has js enabled lets do the magic -%>
     $pageContent.addClass("gradient-text");
     $pageContent.append(read)
        <%-# on click show the full text -%>
     $(".gradient-text")
        .find("p.read-more")
        .on("click", function(e) {
           e.preventDefault();
           $(this).hide();
           $(".gradient-text").toggleClass("gradient-text");
        });
     }
   });
</script>
