<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= image_tag(@image.file_name)%>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<%= link_to 'Edit', edit_backend_image_path(@image) %> |
<%= link_to 'Back', :back %>
