<%= simple_form_for([:backend, @menu], defaults: {input_html: {class: :'form-control'}}) do |f| %>
  <%= f.error_notification %>

  <% if @menu.general?  %>
    <div class="form-group">
      <%= f.association :pages,
        collection: @general_pages,
        group_method: :pages,
        label: "Paginas: ", label_method: :title,
        include_blank: false,
        as: :check_boxes %>
    </div>
    <div class="form-group">
      <%= f.input :position, label: 'Posicion', collection: ['arriba', 'derecha', 'abajo'], as: :radio_buttons %>
    </div>
  <% else %>
    <!-- TODO: darles orden -->
    <label>Paginas: </label>
    <ol>
      <% @menu.pages.each do |page| %>
        <li><%= page.title %></li>
      <% end %>
    </ol>

  <% end %>
  <div class="form-group">
    <%= f.button :submit, 'Crear Menu', class: :'btn btn-primary' %>
  </div>
<% end %>
