<%= simple_form_for([:backend, @menu], defaults: {input_html: {class: :'form-control'}}) do |f| %>
  <%= f.error_notification %>
<div class="form-group">
  <%= f.input :name, label: :nombre %>
</div>

<div class="form-group">
  <ul id="selected_pages" class="menu_pages">
    <h3>paginas del menu</h3>
    <% @menu.pages.each do |page| %>
      <li id="<%= page.id %>"><%= page.title %></li>
  <% end %>
  </ul>
  <ul id='unselected_pages' class="menu_pages">
    <!-- TODO: remove unselected pages from menu -->
    <h3>paginas disponibles (pueden estar asignadas a otro menu)</h3>
    <% @pages.each do |page| %>
      <li id="<%= page.id %>"><%= page.title %></li>
  <% end %>
  </ul>
  <%= tag :input, type: :hidden, name: 'menu[page_ids][]', id: 'page_ids' %>
</div>
<div class="form-group">
  <%= f.input :position, label: 'Posicion',
    collection: { arriba: 'top', derecha: 'right', izquierda: 'left', abajo: 'bottom' },
    as: :radio_buttons
  %>
</div>
  <div class="form-group">
    <%= f.button :submit, 'guardar', class: :'btn btn-primary' %>
  </div>
<% end %>
