<%= simple_form_for([:backend, @menu], html: { id: 'menu_edit' }, defaults: {input_html: {class: :'form-control'}}) do |f| %>
  <%= f.error_notification %>
<div class="form-group">
  <%= f.input :name, label: :nombre %>
</div>

<div class="form-group sortable-list">

  <div class="callout callout-info"><i class="fa fa-info"></i> Arrastrar las paginas para darle orden.</div>
  <div class="row">
    <div class="col-md-6">
      <h4>Paginas acutalmente en  menu: </h4>
      <ul id="selected_pages" class="menu_pages">
        <% @menu.pages.order(:position).each do |page| %>
          <li id="<%= page.id %>"><%= page.title %></li>
      <% end %>
      </ul>
    </div>
    <div class="col-md-1 pages-middle-arrow">
      <br>
      <br>
      <br>
      <i class="fa fa-arrows-h"></i>
    </div>
    <div class="col-md-5">
      <h4>Paginas disponibles: </h4>
      <ul id='unselected_pages' class="menu_pages">
        <% @no_menu_pages.each do |page| %>
          <li id="<%= page.id %>"><%= page.title %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="callout callout-danger">
    <i class="fa fa-warning"></i> 
    Estas paginas pertenecen a otros menu, al sacarlas de aqui no estaran mas disponibles en el menu anterior.
  </div>
  <h4>Paginas en otros menues: </h4>
  <ul id='no_menu_pages' class="menu_pages">
    <% @other_menu_pages.each do |page| %>
      <li id="<%= page.id %>"><%= page.title %></li>
  <% end %>
  </ul>
  <%= tag :input, type: :hidden, name: 'menu[page_ids][]', id: 'page_ids' %>
  <%= tag :input, type: :hidden, name: 'menu[non_selected][]', id: 'non_selected' %>
</div>
<div class="form-group">
  <%= f.input :position, label: 'Posicion',
    collection: { arriba: 'top', derecha: 'right', izquierda: 'left', abajo: 'bottom' },
    as: :radio_buttons
  %>
</div>
  <div class="form-group">
    <%= f.button :submit, 'guardar', class: :'btn btn-primary' %>
  </div>
<% end %>
