<% @internal_branches.each do |branch| %>
  <section class="branch-container">
    <h2 class="branch-header"><%= link_to branch.name, branch_path(branch) %></h2>
    <div class="info-wrapper">
      <p><%= branch.address %></p>
      <p><%= "#{branch.zone} (#{branch.zipcode})" %></p>
      <% branch.telephones.each do |telephone| %>
        <p><%= "Tel. (0#{telephone.ext}) #{telephone.num}" %></p>
      <% end %>
      <p><%= "E-Mail: #{branch.email}" %></p>
    </div>
  </section>
<% end %>
