<h1 class='page-title'>
  <%= t '.noticias' %>
</h1>

<% @posts.each do |post| %>
  <section class="post-container">

  <%= link_to  post.title, post_path(post) %>
  <blockquote>
    <%= raw(post.content)  %>
  </blockquote>

  </section>
<% end %>

<%= will_paginate @posts, previous_label: '<<', next_label: '>>'%>
<% if current_user %>
  <% if current_user.admin? %>
  <%= link_to "crear noticia", new_backend_post_path %>
  <% end %>
<% end %>
