<% content_for :page_title, @post.title %>
<div class="page-container">
  <section class="post-container">
    <div class="post-main">
      <p> <%= simple_format(@post.description)  %> </p>
      <br>
      <br>
      <p><%= simple_format(@post.content) %></p>
    </div>
    <div>
      <% if !@gallery.nil? %>
        <%= render partial: "galeries/gallery", locals: {gallery: @gallery }%>
    <% end %>
    </div>
  </section>
</div>
<% if user_signed_in? and policy(current_user).admin? %>
  <%= backend_edit_link @post %>
<% end %>
<%= link_to "Volver", :back, class: 'button' %>
