<div class="header">
  <div class="row">
    <div class="small-12 large-9 large-offset-4 columns">
      <nav class="top-bar">
        <ul class="links-container">
          <li class="item"><%= link_to "Quiénes Somos", @quienes %></li>
          <li class="item"><a href="#">Galería</a></li>
          <li class="item"><%= link_to "Contacto", new_contact_path %></li>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
      <% if current_user %>
        <% if current_user.admin? %>
          <li class="item"><%= link_to "Administrar", [:backend, :root] %></li>
        <% end %>
      <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns">
      <a class="logo"  href="<%= url_for :root %>">Agalma</a>
    </div>
    <div class="large-6 columns">
      <%= render "slide" %>
    </div>
  </div>
</div>

