<aside class="left-off-canvas-menu">
<ul>
  <%= render partial: 'top_menu' if @top_menu %>
  <%= render 'side_nav' %>
  <%= render 'devise/menu/login_items' %>
  <% if user_signed_in? %>
    <% if policy(current_user).admin? %>
      <%= link_to "Administrar", [:backend, :root], class: 'item' %>
    <% end %>
  <% else %>
    <%= render 'devise/menu/registration_items' %>
  <% end %>
</ul>
<br />

<ul>
  <%#    <li><%= render 'search' % > </li> %>
  <%= render 'pages_nav' %>
</ul>
</aside>
