<div class="nav-footer">
  <a class="social-icon" href="https://www.facebook.com/agalma.atencionterapeutica">
    <%= image_tag 'social/facebook.png' %>
  </a>
  <a class="social-icon" href="http://www.linkedin.com/company/centro-agalma">
    <%= image_tag 'social/in.png' %>
  </a>
  <a class="social-icon" href="mailto:info@centroagalma.com.ar">
    <%= image_tag 'social/mail.png' %>
  </a>
  <a class="social-icon" href="#ubicacion">
    <%= image_tag 'social/ubicacion.png' %>
  </a>
  <p><%= active_branch.telephones.first %></p>
  <p><%= active_branch.address %></p>
  <p><%= active_branch.zone_data %></p>
</div>
