<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Agalma" %></title>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'vendor/custom.modernizr' %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <%= render 'off_canvas_menu' %>
        <%= render 'header' %>
        <div class="all-container">
          <div class="row" data-equalizer>
            <div class="main-wrapper">
              <div class="small-12 large-3 columns" data-equalizer-watch>
                <aside class="left-sidebar">
                  <%= render 'side_nav' %>
                  <div class="small-12 large-10 large-offset-2 columns">
                    <div class="vomit-turquoise vomit-box-shadow side-nav" >
                      <p> <%= render 'bottom_nav'%></p>
                    </div>
                  </div>
                </aside>
              </div>
              <div class="small-12 large-6 columns">
                <div class="main-container">
                <% if content_for?(:page_title) %>
                <h1 class="page-title"><%= yield(:page_title)  %></h1>
              <% end %>
                <main data-equalizer-watch>
                  <%= yield %>
                </main>
              </div>
                </div>
              <div class="small-12 large-3 columns" data-equalizer-watch>
                <aside class="right-sidebar">
                  <div class="side-nav vomit-box-shadow vomit-blue">
                    <ul class="items-container">
                      <li><a class=" header" href="#">Prestaciones via web</a></li>
                    <li> <a class="item" href="#">Atencion psicoanalitica </a> </li>
                    <li> <a class="item" href="#">Supervisiones Clinicas </a> </li>
                    <li> <a class="item" href="#">Seminarios y cursos </a> </li>
                  </ul>
                  </div>
                  <div class="">
                    <!-- <p> vale por un calendario</p> -->
                  </div>
                  <ul class="items-container">
                    <li>
                      <%= render 'social' %>
                    </li>
                  </ul>
                </aside>
              </div>
            </div>
          </div>
          <%= render "footer" %>
          <%= javascript_include_tag "application" %>
        </div> <!-- end inner wrap -->
      </div><!-- end outer wrap -->
  </body>
</html>
